$body-color: blue;
$header-color: #db4c3f;
$header-button-hover: rgba(255, 255, 255, 0.3);
$aside-color: #f7f7f7;
$aside-color-hover: #ececec;
$main-list-color: #202020;

$base-font-size: 10px;
$h5-font-size: 2rem;


$wrapper-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
