@media only screen and (max-width: 815px) {
  main {
    width: 100%;
    position: absolute;
    margin-left: 0px;
    left: 0px !important;
  }
}

@media only screen and (min-width: 815px) {
  .full-main {
    left: 140px;
  }

  #add-todo-wrapper{
    width: 600px !important;
  }

  #add-project-wrapper {
    width: 400px !important;
  }
}

