@media only screen and (max-width: 815px) {
  #main-informations {
    width: 100% !important;
    left: 0px !important;

  }

  .display-todo-list {
    padding: 6rem 2rem !important;
  }
}

@media only screen and (min-width: 815px) {
  #add-todo-wrapper, #edit-todo-wrapper {
    width: 600px !important;
  }

  #add-project-wrapper {
    width: 400px !important;
  }
}

