@import './styles/base.scss';
@import './styles/variables.scss';
@import './styles/animation.scss';

html {
  font-size: $base-font-size;
  overflow-y: hidden;

  body {
    #content {
      display: flex;
      flex-direction: column;
      font-size: 1.6rem;
      height: 100%;

      header {
        display: flex;
        background-color: $header-color;
        padding: 1rem 1.8rem;

        button {
          border: none;
          padding: 0.2rem;
          border-radius: 2px;
          background-color: transparent;
          display: flex;
          margin-left: 1.5rem;

          &:hover {
            cursor: pointer;
            background-color: $header-button-hover;
          }
        }
      }

      #app {
        display: flex;
        position: relative;
        overflow-y: hidden;
        height: 100vh;

        #aside-informations {
          position: absolute;
          background-color: $aside-color;
          z-index: 10;
          width: 300px;
          height: 100%;
          transition: transform 0.6s ease;

          .todo-informations {
            padding: 1.2rem 0.6rem 1.2rem 1.2rem;

            #projects-main-list {
              padding: 2rem 0 2rem 2rem;

              li {
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                font-weight: 400;
                list-style-type: none;
                padding: 1rem 0.8rem;

                .main-list-icon {
                  margin-right: 1rem;
                }
              }

              .display-main-list {
                border-radius: 5px;

                &:hover {
                  cursor: pointer;
                  background-color: $aside-color-hover;
                }

                span {
                  color: $main-list-color;
                }
              }

              .display-projects {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 2rem 0 0 0;

                .display-projects-title {
                  display: flex;
                  width: 100%;
                  padding: 1rem 0 1rem 0.8rem;

                  .dropdown-projects-list {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    border: none;
                    background-color: transparent;

                    &:hover {
                      cursor: pointer;
                    }

                    .bi-chevron-right {
                      transform: rotate(0);
                    }

                    span {
                      color: #333333;
                      font-weight: bold;
                    }
                  }

                  .add-project {
                    width: 10%;
                    display: flex;
                    justify-content: center;
                    border: none;
                    background-color: transparent;

                    &:hover {
                      cursor: pointer;
                    }
                  }
                }
              }

              #display-projects-list {
                width: 100%;

                .project {
                  display: flex;
                  align-items: center;
                  border-radius: 5px;

                  &:hover {
                    cursor: pointer;
                    background-color: $aside-color-hover;

                    .delete-project-btn {
                      opacity: 1;
                    }
                  }
                  .project-info {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem 0.9rem;

                    .circle-color {
                      width: 13%;
                    }

                    .project-name {
                      width: 100%;
                      font-weight: lighter;
                      letter-spacing: 0.5px;
                    }
                  }

                  .delete-project-btn {
                    width: 10%;
                    opacity: 0;
                    border: none;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;

                    &:hover {
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }

        #main-informations {
          position: absolute;
          justify-self: center;
          left: 300px;
          width: calc(100% - 300px);
          transition: left 0.6s ease;

          .display-todo-list {
            padding: 6rem;

            .todo-list {
              padding: 2rem;

              .todo-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0;
                border-bottom: 1px solid #f0f0f0;
                color: #808080;
                // background-color: paleturquoise;

                // button {
                //   display: flex;
                //   flex-direction: row;
                // }

                .left {
                  display: flex;
                  button {
                    padding: 0 5px;
                    // display: flex;
                    border: none;
                    background-color: transparent;
                  }
                  div {
                    color: $main-list-color;
                    padding-left: 10px;
                    font-size: 1.4rem;
                    line-height: 21px;
                  }
                }
                .right {
                  display: flex;

                  .priority-wrapper {
                    // outline: 1px solid red;
                    position: relative;

                    .pop-up-priority {
                      display: none;
                      border: 1px solid green;
                      padding: 10px;
                      width: 100px;
                      position: absolute;
                      background-color: paleturquoise;
                      right: 38px;
                    }
                  }
                  button {
                    padding: 5px;
                    background-color: transparent;
                    margin: 0 3px;
                    border: none;
                    border-radius: 5px;

                    &:hover {
                      background-color: $aside-color-hover;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
