@import './styles/base.scss';
@import './styles/variables.scss';
@import './styles/animation.scss';

html {
  font-size: $base-font-size;
  overflow-y: hidden;

  body {

    #content {
      display: flex;
      flex-direction: column;
      font-size: 1.6rem;
      height: 100%;

      header {
        display: flex;
        justify-content: space-between;
        background-color: $header-color;
        padding: 1rem 1.8rem;

        .left-side {
          display: flex;
        }

        .right-side {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 80px;
          img {
            height: 30px;
            width: 30px;
            border-radius: 15px;

            &:hover {
              cursor: pointer;
            }
          }
        }

        button {
          border: none;
          padding: 0.2rem;
          border-radius: 2px;
          background-color: transparent;
          display: flex;
          margin-left: 1.5rem;

          &:hover {
            cursor: pointer;
            background-color: $header-button-hover;
          }
        }
      }

      #app {
        display: flex;
        position: relative;
        overflow-y: hidden;
        height: 100vh;

        #aside-informations {
          position: absolute;
          background-color: $aside-color;
          z-index: 10;
          width: 300px;
          height: 100%;
          transition: transform 0.6s ease;

          .todo-informations {
            padding: 1.2rem 0.6rem 1.2rem 1.2rem;

            #projects-main-list {
              padding: 2rem 0 2rem 2rem;

              li {
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                font-weight: 400;
                list-style-type: none;
                padding: 1rem 0.8rem;

                .main-list-icon {
                  margin-right: 1rem;
                }
              }

              .display-main-list {
                border-radius: 5px;

                &:hover {
                  cursor: pointer;
                  background-color: $aside-color-hover;
                }

                span {
                  color: $main-list-color;
                }
              }

              .display-projects {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 2rem 0 0 0;

                .display-projects-title {
                  display: flex;
                  width: 100%;
                  padding: 1rem 0 1rem 0.8rem;

                  .dropdown-projects-list {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    border: none;
                    background-color: transparent;

                    &:hover {
                      cursor: pointer;
                    }

                    .bi-chevron-right {
                      transform: rotate(0);
                    }

                    span {
                      color: #333333;
                      font-weight: bold;
                    }
                  }

                  .add-project {
                    width: 10%;
                    display: flex;
                    justify-content: center;
                    border: none;
                    background-color: transparent;

                    &:hover {
                      cursor: pointer;
                    }
                  }
                }
              }

              #display-projects-list {
                width: 100%;

                .project {
                  display: flex;
                  align-items: center;
                  border-radius: 5px;

                  &:hover {
                    cursor: pointer;
                    background-color: $aside-color-hover;

                    .delete-project-btn {
                      opacity: 1;
                    }
                  }
                  .project-info {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem 0.9rem;

                    .circle-color {
                      width: 13%;
                    }

                    .project-name {
                      width: 100%;
                      font-weight: lighter;
                      letter-spacing: 0.5px;
                    }
                  }

                  .delete-project-btn {
                    width: 10%;
                    opacity: 0;
                    border: none;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;

                    &:hover {
                      cursor: pointer;
                    }
                  }
                }
              }
            }
            #add-todo-form {
              // display: none;
              position: absolute;
              left: 50%;
            }
          }
        }

        #main-informations {
          position: absolute;
          justify-self: center;
          left: 300px;
          width: calc(100% - 300px);
          transition: left 0.6s ease;

          .display-todo-list {
            padding: 6rem;

            .todo-info {
              color: #212529;
              font-size: 2.4rem;
              text-transform: capitalize;
              .current-date {
                font-size: 1.8rem;
                margin-left: 6px;
              }
            }

            .todo-list {
              padding: 2rem;

              .todo-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0;
                border-bottom: 1px solid #f0f0f0;
                color: #808080;

                .left {
                  display: flex;
                  align-items: center;
                  button {
                    display: flex;

                    border: none;
                    background-color: transparent;
                  }
                  div {
                    color: $main-list-color;
                    padding-left: 6px;
                    font-size: 1.4rem;
                    line-height: 21px;
                  }
                }
                .right {
                  display: flex;

                  .priority-wrapper {
                    position: relative;

                    .pop-up-priority {
                      border: 1px solid #ced4da;
                      padding: 10px;
                      width: 140px;
                      position: absolute;
                      background-color: #fff;
                      right: 38px;
                      border-radius: 5px;

                      .priority-choice-btn {
                        border: none;
                        width: 100%;
                        margin: 2px 0;
                      }

                      .priority-choice-btn[data-selected=true] {
                        color: #fff;
                        background-color: $header-color;
                      }
                    }
                  }
                  button {
                    padding: 5px;
                    background-color: transparent;
                    margin: 0 3px;
                    border: none;
                    border-radius: 5px;

                    &:hover {
                      background-color: $aside-color-hover;
                      cursor: pointer;
                    }
                  }
                }
              }
              .complete-todo-item {
                display: flex;
                border: 1px solid #dee2e6;
                border-radius: 5px;
                padding: 0 1rem;
                font-size: 1.4rem;
                margin: 1rem 0;

                div {
                  margin: 8px 0;
                  font-weight: bold;
                  color: #212529;
                }

                span {
                  font-weight: 200;
                }

                .left {
                  flex: 0 0 50%;
                  max-width: 50%;
                }
              }

              .wrapper-empty-todo-list {
                padding: 3rem 0;

                button {
                  margin-top: 3rem;
                  padding: 9px 18px;
                  background-color: $header-color;
                  color: #fff;
                  border: none;
                  border-radius: 5px;

                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }

      }
      #add-todo-wrapper{
          position: fixed;
          width: 90%;
          padding: 1rem;
          background-color: #fff;
          align-self: center;
          border-radius: 10px;
          z-index: 100;
          top: 30%;
          box-shadow: $wrapper-box-shadow;

          .add-todo-header {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            font-size: 2.5rem;
            width: 100%;
            border-bottom: 1px solid #dee2e6;

            .add-todo-title {
              font-weight: 500;
            }

            button {
              border: none;
              background-color: #fff;
              font-weight: bold;

              &:hover {
                cursor: pointer;
              }
            }
          }

          .add-todo-content {
            // flex: 1 1 auto;
            padding: 1.5rem 1rem;

            form {
              display: flex;
              flex-direction: column;

              .form-content {
                display: flex;
                flex-wrap: wrap;

                label {
                  padding-bottom: 8px;
                  font-size: 1.6rem;
                }

                input {
                  height: calc(1.5em + 0.75rem + 2px);
                  border: 1px solid #ced4da;
                  border-radius: 0.25rem;
                  background-clip: padding-box;
                  padding: 0.3rem;

                  &:focus {
                    outline: 2px solid $header-color;
                    box-shadow: 0 0 2px #719ECE;
                  }
                }

                textarea {
                  border: 1px solid #ced4da;
                  padding: 0.3rem;
                  border-radius: 0.25rem;


                  &:focus {
                    outline: 2px solid $header-color;
                    box-shadow: 0 0 2px #719ECE;
                  }
                }

                select {
                  background-color: #fff;
                  border: 1px solid #ced4da;
                  border-radius: 0.25rem;


                  &:focus {
                    outline: 2px solid $header-color;
                    box-shadow: 0 0 2px #719ECE;
                  }
                }

                .left-side {
                  flex: 0 0 50%;
                  max-width: 50%;
                  padding-right: 20px;

                  div {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                  }
                }
                .right-side {
                  flex: 0 0 50%;
                  max-width: 50%;

                  div {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;

                  }
                }
              }
              .add-todo-buttons {
                align-self: flex-end;
                .close-add-form-todo {
                  background-color: #fff;
                  border: 1px solid $header-color;
                  color: $header-color;
                }

                button {
                  justify-self: flex-end;
                  align-self: flex-end;
                  padding: 9px 18px;
                  background-color: $header-color;
                  color: #fff;
                  border: none;
                  border-radius: 5px;

                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
        #add-project-wrapper {
          position: fixed;
          width: 90%;
          padding: 1rem;
          background-color: #fff;
          align-self: center;
          z-index: 100;
          top: 30%;
          box-shadow: $wrapper-box-shadow;
          border-radius: 10px;

          .add-project-header {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            font-size: 2.5rem;
            width: 100%;
            border-bottom: 1px solid #dee2e6;

            .add-project-title {
              font-weight: 500;
            }

            button {
              border: none;
              background-color: #fff;
              font-weight: bold;

              &:hover {
                cursor: pointer;
              }
            }
          }

          .add-project-content {
            padding: 1.5rem 1rem;

            form {
              display: flex;
              flex-direction: column;

              label {
                padding-bottom: 8px;
                font-size: 1.6rem;
              }

              input {
                height: calc(1.5em + 0.75rem + 2px);
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                background-clip: padding-box;
                padding: 0.3rem;


                &:focus {
                  outline: 2px solid $header-color;
                  box-shadow: 0 0 2px #719ECE;
                }
              }
              .add-project-buttons {
                // padding: 1.5rem 1rem 0rem 1rem;
                padding-top: 1.5rem;
                align-self: flex-end;
                .close-add-form-project {
                      background-color: #fff;
                      border: 1px solid $header-color;
                      color: $header-color;
                }
                button {
                  justify-self: flex-end;
                  padding: 9px 18px;
                  background-color: $header-color;
                  color: #fff;
                  border: none;
                  border-radius: 5px;

                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
          }

        }
        #edit-todo-wrapper {
          position: fixed;
          background-color: #fff;
          width: 90%;
          padding: 1rem;
          align-self: center;
          border-radius: 10px;
          z-index: 100;
          top: 30%;
          box-shadow: $wrapper-box-shadow;

          .edit-todo-header {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            font-size: 2.5rem;
            width: 100%;
            border-bottom: 1px solid #dee2e6;

            .edit-todo-title {
              font-weight: 500;
            }

            button {
              border: none;
              background-color: #fff;
              font-weight: bold;

              &:hover {
                cursor: pointer;
              }
            }
          }

          .edit-todo-content {
            padding: 1.5rem 1rem;

            form {
              display: flex;
              flex-direction: column;

              .form-content {
                display: none;
                display: flex;
                flex-wrap: wrap;

                label {
                  padding-bottom: 8px;
                  font-size: 1.6rem;
                }

                input {
                  height: calc(1.5em + 0.75rem + 2px);
                  border: 1px solid #ced4da;
                  border-radius: 0.25rem;
                  background-clip: padding-box;
                  padding: 0.3rem;

                  &:focus {
                    outline: 2px solid $header-color;
                    box-shadow: 0 0 2px #719ECE;
                  }
                }



                select {
                  background-color: #fff;
                  border: 1px solid #ced4da;
                  border-radius: 0.25rem;


                  &:focus {
                    outline: 2px solid $header-color;
                    box-shadow: 0 0 2px #719ECE;
                  }
                }

                .left-side {
                  flex: 0 0 50%;
                  max-width: 50%;
                  padding-right: 20px;

                textarea {
                  border: 1px solid #ced4da;
                  padding: 0.3rem;

                  &:focus {
                    outline: 2px solid $header-color;
                    box-shadow: 0 0 2px #719ECE;
                  }
                }

                  div {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                  }
                }
                .right-side {
                  flex: 0 0 50%;
                  max-width: 50%;

                  div {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                  }
                }
              }
              .edit-todo-buttons {
                align-self: flex-end;
                .close-edit-form-todo {
                  background-color: #fff;
                  border: 1px solid $header-color;
                  color: $header-color;
                }
                button {
                  justify-self: flex-end;
                  align-self: flex-end;
                  padding: 9px 18px;
                  background-color: $header-color;
                  color: #fff;
                  border: none;
                  border-radius: 5px;

                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
        #undo-complete-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: fixed;
          width: 20%;
          padding: 1rem;
          align-self: center;
          font-size: 1.4rem;
          z-index: 100;
          background-color: #fff;
          top: 94%;
          border: 1px solid rgba(0,0,0,.1);
          border-radius: 0.25rem;
          box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
          transition: transform 0.2s ease;


          button {
            text-transform: capitalize;
            color: red;
            font-weight: bold;
            border: none;
            background-color: transparent;
            padding: .3rem .6rem;

            &:hover {
              cursor: pointer;
              background-color: $aside-color-hover;
            }
          }
        }
    }
  }
}

